body{
background-color: rgb(177, 170, 170);
overflow-x: hidden;
}
#img{
    
    transform: rotate(90deg);
    height: 150px;
    width: 140px;
}
div{
    position: relative;
    top: 40%;
    left: 40%;
}